*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Inter", sans-serif;
     font-weight: 400;
     background-color: hsl(36, 100%, 99%);
}
.Container{
    width: 100%;
    margin-left: 100px;
}
body p{
    font-size: 22px;
    color: hsl(236, 13%, 42%);
}
nav{
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-content: baseline;
    height: 90px;
}
ul{
    display: flex;
    gap: 30px;
    margin-right: 390px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-size: 19px;
    cursor: pointer;
}
a:hover{
    color: hsl(5, 85%, 63%);
}
h1{
    font-size: 70px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 28px;
}
nav img{
    width: 70px;
    height: 70px;
}
.double-sec{
    display: flex;
    gap: 280px;
    margin-top: 30px;
    width: 100%;
}
.intro-section{
    display: flex;
    gap: 20px;
}
.pic img{
    height: 400px;
    width: 130%;
}
.intro-paragraph{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 90px;
    margin-top: 15px;
}
button{
    margin-top: 30px;
    width: 190px;
    height: 40px;
    font-size: 23px;
    background-color: hsl(5, 85%, 63%);
    border: none;
}
button:hover{
    color: white;
    cursor: pointer;
}
.h1{
    color: hsl(240, 100%, 5%);
}
.News-sec{
    background-color: hsl(240, 100%, 5%);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 30px;
    width: 490px;
}
.News-sec h1{
    color: hsl(35, 77%, 62%);
}
.News-sec h2:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
.news{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 10px;

}
.news2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}
.last-section h3:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
.last-section{
    display: flex;
    gap: 160px;
    margin-top: 60px;
}
.last-section h3{
    color: hsl(240, 100%, 5%);
}
.last-section h2{
    color: hsl(5, 85%, 63%);
}
.one{
    display: flex;
    gap: 30px;
}
.two{
    display: flex;
    gap: 30px;
}
.three{
    display: flex;
    gap: 30px;
}
.gap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.img img{
    width: 150px;
}
.menu-cancel{
    position: absolute;
    top: 0px;
    right: 40px;
    width: 40px;
    cursor: pointer;
    display: none ;
}
.menu-btn{
    position: absolute;
    top: 0px;
    right: 40px;
    width: 40px;
    cursor: pointer;
    display: none;
}
.container {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 90px;
  width: 40px;
 


}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
@media all and (max-width: 480px){
    .Container{
        text-align: left;
        width: 100%;
        position: absolute;
    }
    body p{
        font-size: 15px;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 24px;
    }
    .nav-menu .menu-btn{
        display: block;
        position: absolute;
        margin-right: 20px;
    }
    .container{
        display: block;
        object-position: 20% 100%;
        position: absolute;

    }
    .double-sec{
        flex-direction: column;
        gap: 30px;
    }
    .News-sec{
        margin-left: 0px;
    }
    .pic img{
        margin-left: 20px;
        width: 86%;
    }
    .intro-section{
        flex-direction: column;
        margin-left: 20px;
    }
    .intro-paragraph{
        text-align: left;
        margin-left: 0;
    }
    .last-section{
        flex-direction: column;
        gap: 20px;
    }
    .nav-menu{
        background-color: white;
        position: relative;
        flex-direction: row;
        width: 100%;
        height: 100vh;
        justify-content: center;
        margin-top: -910px;
        transition: all 0.5s ease;
         box-shadow: 0 8px 16px 0 rgba(85, 85, 85, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    ul{
        flex-direction: column;
    }
    a{
        color: black;
        font-size: x-large;
        font-weight: 300;
    }
    .mobile-menu{
        margin: 0px;
    }
    .nav-menu li{
        margin: 10px auto;
    }
    .logo{
        margin-left: 23px;
    }
    button{
        width: 180px;
        height: 50px;
    }
    .change .bar3 {
        margin-bottom: 600px;
}
}
@media all and (min-width: 480px) and (max-width: 768px) { 
   .double-sec{
    gap: 140px;
   }
   .last-section{
    width: 100%;
    flex-direction: column;
    gap: 30px;
   }
   .mobile-menu{
        margin: auto;
    }
    .menu-btn{
        display: block;
        position: absolute;
        left: 790px;
        
    }
     .nav-menu{
        background-color: white;
        width: 100%;
        height: 100vh;
        justify-content: center;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .nav-menu li{
        margin: 20px auto;
    }
    ul{
        flex-direction: column;
    }
    
    
}